.custom-button {
    background-color: #9D2720;
    color: #F6C03D;
    border: none;
    padding: 10px 11px;
    margin: 2px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.custom-button:hover {
    background-color: #F6C03D;
    color: #9D2720;
    transition: 0.3s;
}

.custom-center {
    text-align: center;
}
