
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    background-color: #1E1E1E;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.logo-container {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    float: left;
}

.logo {
    height: 60px;
    background-color: transparent;
}

.menu::after {
    content: 'Biblioteca Miguel de Cervantes';
    display: inline-block;
    color: #F6C03D;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 0 0 15px 0;
    background-color: #1E1E1E;
    float: left;
}

.menu a {
    display: inline-block;
    color: #F6C03D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    margin: 5px;
    background-color: #9D2720;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #F6C03D;
    color: #9D2720;
}

.menu a.logo-link {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}


