table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
}

td {
    padding: 12px; /* Ajusta el padding según sea necesario */
    text-align: center;
}
