
table {
    border-collapse: collapse;
    width: 100%;
    
}

td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}
