          
        /* Estilos para el nav */
        .navbar {
            padding: 15px 0;
            text-align: center;
        }
        .bg-custom-red {
            background-color: #333333; 
        }
        
            .navbar::before {
                content: "";
                position: absolute;
                top: -30px;
                left: 0;
                right: 0;
                height: 50px;
                background-color: #F6C03D; 
                border-radius: 50%;
            }
            .navbar .nav-link {
                color: #9D2720;
                background-color: #F6C03D;
                padding: 8px 16px;
                margin: 3px;
                border-radius: 20px;
                font-size: 16px;
                font-weight: bold;
                
            }
            .navbar .nav-link:hover {
                background-color: #9D2720;
                color: #F6C03D;
                transition: 0.3s;
            }
            .navbar .nav-link.username {
                color: white;
            }